doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/main.css')
  script(src='/scripts/utils.js')
  script(src='/scripts/logged.js')
  title 메인
body
  .main-container
    .row
      label#login-label #{name} 사장(#{id})님, 반갑습니다!
    .row.has-addons
      .addons
      .addons
        a.addons#logout 로그아웃