input
{
    outline:none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wrapper{
    display:flex;
    justify-content:center;
    align-items: center;
    min-width:100vw;
    min-height: 100vh;
 
}

.signup-container {
    display:flex;
    flex-direction:column;
    border:1px solid black;
   
}

.signup-container h1{
    text-align:center;
    color:#2CC1BC;
}

.signup-form{
    display:flex;
    flex-direction:column;
    min-height:600px;
    font-size:1em;
    padding:20px;
    outline: white;
    justify-content:center;
    align-items:flex-start;
}

/* 첫 번째 indentation div */
.signup-form > div{
    margin: 0 2em;
}

.form-item{
    
    height:47px;
    width:420px;
    border: 1px solid #DEE2EB;
    margin:0.5em 0;
    padding:7px;
    outline: white;
}


.container{
    display:flex;
    height:47px;
    width:420px;
    justify-content: space-between;
    margin: 0.5em 0;
}

.email-item{
    width:190px;
    padding:7px;
    border: 1px solid #DEE2EB;
}

.item-2-input{
    height:47px;
    width:300px;
    border: 1px solid #DEE2EB;
    /* margin:0.5em 0; */
    padding:7px;
}

.item-2-btn{
    height:47px;
    width:110px;
    color:#BFC4D0;
    font-weight: bold;
    border:1px solid #BFC4D0;
    cursor:pointer;
    text-align:center;
}

.blue-btn{
    height:47px;
    width:110px;
    font-weight:bold;
    color:#1A7CFE;
    cursor:pointer;
    text-align: center;
    border:1px solid #1A7CFE;
}

#code-box .container{
    position: relative;
}

#auth-timer{
    position:absolute;
    top:17px;
    right:130px;
}

.container-2{
    display:flex;
    height:47px;
    width:420px;
    align-items: center;
}

.container-2 input{
    height:1.5em;
    width:1.5em;
}

.container-2 p{
    padding:7px;
    margin:0;
}

#select-info-chk ul a{
    color:darkgray;
    font-size:0.8em;
}

#postcode-box{
    display:flex;
    flex-direction:column;
}

#terms p{
    font-weight:bold;
}

#essential-detail .container-2{
    justify-content: flex-end;
    height:1em;
}

#essential-detail ul{
    text-decoration: underline;
    padding: 0 5px;
    color:darkgray;
    margin:0;
}
#advertise-terms-info .container-2{
    height:1em;
    margin:0.5em 0 2em;
}

#advertise-terms-info li{
    color:darkgray;
    font-size:0.8em;
}

.detail-style:link, .detail-style:hover,
.detail-style:active, .detail-style:visited{
    text-decoration:underline;
    color:darkgray;
    font-size:0.8em;
}

#advertise-terms-info li:nth-child(2){
    text-decoration: underline;
    margin-left:1em;
}

#signup-finish-btn{
    color:#fff;
    background:#1A7CFE;
    text-align: center;
}

/* alert-msg  */
.alert-msg{
    color:red;
    font-size:0.8em;
}
.alert-msg.success {
    color: darkgray;
}

/* modal  동작 */

#auth-timer{
    color:red;
    font-size:0.8em;
}

.red-box{
    border:1px solid red;
}

.normal-font:hover{
    font-size:1em;
}
