doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/complete.css')
  script(src='/scripts/main.js' defer='')
body
    .wrapper
    form#complete-container
      a(href='/') 메인으로 
      #complete-info-container
        .row
          span.type 이름
          span.value=name
        .row
          span.type 아이디
          span.value=id
        .row
          span.type 이메일
          span.value=email
        .row
          span.type 핸드폰
          span.value=phone
      small 위 내용은 #[a 내 정보 관리]에서 수정하실 수 있습니다.
      

    