doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/main.css')
  script(src='/scripts/main.js' defer='')
  title 회원가입 완료
body
  form.main-container
    .rows
      .row.center
        img(src='./images/logo-ceo.png')
      .row.center.large-text 회원이 되셨습니다.
    .wrapper
    .row
      a.guide(href='/') 메인으로 →
    .rows.table
      .row
        span.th 이름
        span.td=name
      .row
        span.th 아이디
        span.td=id
      .row
        span.th 이메일
        span.td=email
      .row
        span.th 핸드폰
        span.td=phone
    .row
      small - 위 내용은 #[a 내 정보 관리]에서 수정하실 수 있습니다.
    

  