doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/main.css')
  script(src='/scripts/main.js' defer='')
body
    .wrapper
    form#login-container(action='/api/users/login' method='post')
      input#id(name="id" placeholder='아이디')
      input#password(name="password" placeholder='비밀번호')
      #login-save-id
        input(type="checkbox") 
        label 아이디 저장
      #login-addons
        a.addons#search 아이디 / 비밀번호 찾기 
        label | 
        a.addons#signup(href='/signup') 회원가입
      
      input(type='submit' value='사장님 로그인') 

    