doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/signup.css')
  link(rel='stylesheet' href='/stylesheets/modal.css')
  script(src='/scripts/utils.js' defer='')
  script(src='/scripts/signup.js' defer='')
  script(src='/scripts/modal.js' defer='')
  title Signup page
.wrapper
  .signup-container
    h1.signup-title 배민
      img(src='./images/logo.png' style='width:32px;height:32px;margin-top:2px;')
      |사장님광장
    form.signup-form(action='')
      div 필수 정보를 입력해주세요.
      input#id.form-flex-item(type='text' placeholder='아이디* (4~20자)')
      #id-alert.alert-message 아이디는 4-20자의 영소문자, 숫자, 특수기호(-, _)만 사용가능합니다.
      input#password.form-flex-item(type='text' placeholder='비밀번호* (영문+숫자,8~20자)')
      #password-alert.alert-message 비밀번호는 영문과 숫자를 포함하여 8~20자로 입력해주세요.
      input#password-chk.form-flex-item(type='text' placeholder='비밀번호 재확인*')
      #password-chk-alert.alert-message  비밀번호와 일치하지 않습니다. 다시 입력해주세요.
      .email-flex-container
        input#email-front.email-flex-item(type='text' placeholder='이메일 앞자리*')
        p#email-at @
        input#email-end.email-flex-item(type='text' placeholder='이메일 뒷자리*')
      #email-alert.alert-message 이메일 주소를 입력해 주세요
      select#email-select.form-flex-item
        option(value='') 이메일 선택
        option(value='') 직접입력
        option(value='') naver.com
        option(value='') gmail.com
        option(value='') daum.net
      input#name.form-flex-item(type='text' placeholder='이름*')
      #name-alert.alert-message 이름은 영어와 한글만 사용가능합니다.
      #auth.auth-container
        input#phone.auth-flex-item(type='text' placeholder='휴대폰*')
        input#auth-btn.auth-flex-item(value='인증받기')
      div(style='margin:0.5em auto')
      #auth.auth-container
        input#auth-number-input.auth-flex-item(type='text' placeholder='인증번호 6자리 입력')
        input#number-submit-btn.auth-flex-item(type='submit' value='확인')
      #number-alert.alert-message 인증번호를 입력해주세요.
      div(style='margin:0.5em auto')
      .address-flex-chk-container
        input#select-info-chk(type='checkbox' name='')
        p 선택 정보를 입력하시겠어요?
        ul 내용보기
      .postcode-flex-container
        input#postcode.postcode-flex-item(type='text' placeholder='우편번호')
        input#address-btn.postcode-flex-item(type='submit' value='주소찾기')
      div(style='margin-bottom:0.5em')
      input#address.address-flex-item(type='text' placeholder='주소')
      input#detail-address.address-flex-item(type='text' placeholder='상세주소')
      .terms-flex-container
        input#terms-agree-chk(type='checkbox' name='')
        p 전체 약관에 동의합니다.
      .essential-flex-container
        input#essential-info-chk(type='checkbox' name='')
        p 필수 항목에 동의합니다.
      .essential-terms-info
        ul 배민사장님광장 이용약관
        ul 개인정보 수집이용 동의
      .advertise-flex-container
        input#advertise-info-chk(type='checkbox' name='')
        p 광고성 정보 수신동의(선택)
      .advertise-terms-info
        li(style='text-decoration:none')
          | 만 14세 이상 회원만 가입 가능합니다.
        li(style='list-style:none' ) 내용보기
      input#signup-finish-btn.form-flex-item(type='submit' value='가입완료')

.modal-container.hidden
  .modal-overlay
  .modal-content
    p 인증번호를 확인해주세요
    input#close-modal-btn(value='확인')

