doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/signup.css')
  script(src='/scripts/utils.js' defer)
  script(src='/scripts/signup.js' defer)
  title Signup page
.wrapper
  .signup-container
    h1.signup-title
      | &#xBC30;&#xBBFC;
      img(src='./images/logo.png' style='width:32px;height:32px;margin-top:2px;')
      | &#xC0AC;&#xC7A5;&#xB2D8;&#xAD11;&#xC7A5;
    form.signup-form(action='')
      div &#xD544;&#xC218; &#xC815;&#xBCF4;&#xB97C; &#xC785;&#xB825;&#xD574;&#xC8FC;&#xC138;&#xC694;.
      input#id.form-flex-item(type='text' placeholder='아이디* (4~20자)')
      #id-alert.alert-message
      input#password.form-flex-item(type='text' placeholder='비밀번호* (영문+숫자,8~20자)')
      #password-alert.alert-message &#xBE44;&#xBC00;&#xBC88;&#xD638;&#xB294; &#xC601;&#xBB38;&#xACFC; &#xC22B;&#xC790;&#xB97C; &#xD3EC;&#xD568;&#xD558;&#xC5EC; 8~20&#xC790;&#xB85C; &#xC785;&#xB825;&#xD574;&#xC8FC;&#xC138;&#xC694;.
      input#password-chk.form-flex-item(type='text' placeholder='비밀번호 재확인*')
      #password-chk-alert.alert-message &#xC704; &#xBE44;&#xBC00;&#xBC88;&#xD638;&#xC640; &#xC77C;&#xCE58;&#xD558;&#xC9C0; &#xC54A;&#xC2B5;&#xB2C8;&#xB2E4;. &#xB2E4;&#xC2DC; &#xC785;&#xB825;&#xD574;&#xC8FC;&#xC138;&#xC694;.
      .email-flex-container
        input#email-front.email-flex-item(type='text' placeholder='이메일 앞자리*')
        p#email-at @
        input#email-end.email-flex-item(type='text' placeholder='이메일 뒷자리*')
      #email-alert.alert-message &#xC774;&#xBA54;&#xC77C; &#xC8FC;&#xC18C;&#xB97C; &#xC785;&#xB825;&#xD574; &#xC8FC;&#xC138;&#xC694;.
      select#email-select.form-flex-item
        option(value='') &#xC774;&#xBA54;&#xC77C; &#xC120;&#xD0DD;
        option(value='') &#xC9C1;&#xC811;&#xC785;&#xB825;
        option(value='') naver.com
        option(value='') gmail.com
        option(value='') daum.net
      input#name.form-flex-item(type='text' placeholder='이름*')
      #name-alert.alert-message
      #auth.auth-container
        input#phone.auth-flex-item(type='text' placeholder='휴대폰*')
        input#auth-btn.auth-flex-item(type='submit' value='인증받기')
      div(style='margin:0.5em auto')
      #auth.auth-container
        input#auth-number-input.auth-flex-item(type='text' placeholder='인증번호 6자리 입력')
        input#number-submit-btn.auth-flex-item(type='submit' value='확인')
      #number-alert.alert-message &#xC778;&#xC99D;&#xBC88;&#xD638;&#xB97C; &#xC785;&#xB825;&#xD574;&#xC8FC;&#xC138;&#xC694;.
      div(style='margin:0.5em auto')
      .address-flex-chk-container
        input#select-info-chk(type='checkbox' name='')
        p &#xC120;&#xD0DD; &#xC815;&#xBCF4;&#xB97C; &#xC785;&#xB825;&#xD558;&#xC2DC;&#xACA0;&#xC5B4;&#xC694;?
        ul &#xB0B4;&#xC6A9;&#xBCF4;&#xAE30;
      .postcode-flex-container
        input#postcode.postcode-flex-item(type='text' placeholder='우편번호')
        input#address-btn.postcode-flex-item(type='submit' value='주소찾기')
      div(style='margin-bottom:0.5em')
      input#address.address-flex-item(type='text' placeholder='주소')
      input#detail-address.address-flex-item(type='text' placeholder='상세주소')
      .terms-flex-container
        input#terms-agree-chk(type='checkbox' name='')
        p &#xC804;&#xCCB4; &#xC57D;&#xAD00;&#xC5D0; &#xB3D9;&#xC758;&#xD569;&#xB2C8;&#xB2E4;.
      .essential-flex-container
        input#essential-info-chk(type='checkbox' name='')
        p &#xD544;&#xC218; &#xD56D;&#xBAA9;&#xC5D0; &#xB3D9;&#xC758;&#xD569;&#xB2C8;&#xB2E4;.
      .essential-terms-info
        ul &#xBC30;&#xBBFC;&#xC0AC;&#xC7A5;&#xB2D8;&#xAD11;&#xC7A5; &#xC774;&#xC6A9;&#xC57D;&#xAD00;
        ul &#xAC1C;&#xC778;&#xC815;&#xBCF4; &#xC218;&#xC9D1;&#xC774;&#xC6A9; &#xB3D9;&#xC758;
      .advertise-flex-container
        input#advertise-info-chk(type='checkbox' name='')
        p &#xAD11;&#xACE0;&#xC131; &#xC815;&#xBCF4; &#xC218;&#xC2E0;&#xB3D9;&#xC758;(&#xC120;&#xD0DD;)
      .advertise-terms-info
        li(style='text-decoration:none')
          | &#xB9CC; 14&#xC138; &#xC774;&#xC0C1; &#xD68C;&#xC6D0;&#xB9CC; &#xAC00;&#xC785; &#xAC00;&#xB2A5;&#xD569;&#xB2C8;&#xB2E4;.
        li(style='list-style:none') &#xB0B4;&#xC6A9;&#xBCF4;&#xAE30;
      input#signup-finish-btn.form-flex-item(type='submit' value='가입완료')
